<section class="d-flex">
  <div class="col-md-6 col-lg-6 card d-flex flex-columnapp header_elips header_elips1" style="background-image: url('Ellipse1.png'); position: absolute">
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-12">
        <img src="Heart.png" alt="Heart">
      </div>
      <div class="col-md-12">
        <h2 class="text-center header_title">МАЛЯ І ВИ</h2>
      </div>
    </div>
    </div>
  <div>
    <img src="Ellipse2.png" class="header_elips header_elips2" alt="Elips">
  </div>
  <%= render 'shared/header' %>
  <div class="">
    <img class='col-md-6 col-lg-6 search' src="search.png" alt="Search">
  </div>

</section >
<section>
  <p>PLOLOLOL</p>
</section>
