<header class="d-flex flex-column">
  <div class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid ms-4">
      <%= link_to 'Головна', root_path, class: 'navbar-brand navbar-brand-lg' %>
      <%= link_to 'Про нас',  '#', class: 'navbar-brand navbar-brand-lg' %>
      <%= link_to 'Поради',   '#', class: 'navbar-brand navbar-brand-lg' %>
      <%= link_to 'Контакти', '#', class: 'navbar-brand navbar-brand-lg' %>
    </div>
  </div>
</header>